{% extends "base.html" %}
{% load static %}
{% block content %}

  <div class="d-flex text-center align-items-center">
    <div class="col-7 p-5">
      <h2>Auto Avenue</h2>
      <p>Welcome to Auto Avenue, where your dream car awaits! We understand that a car is more than just a mode of transportation; it's an expression of your style and individuality. At Auto Avenue, we're committed to making your automotive dreams a reality. Explore our extensive collection of top-notch vehicles, carefully curated to meet the highest standards of quality and performance. Whether you're searching for elegance, power, or innovation, our lineup caters to diverse tastes. Our passionate team is dedicated to providing you with a seamless and enjoyable car-buying experience. Get ready to embark on a journey towards your dream car at Auto Avenue—your destination for automotive excellence.</p>
    </div>

    <div class="col-5">
      <img class="w-100" src="{% static "images/home.jpg" %}" alt="">
    </div>
  </div>

    <div class="d-flex mt-5 justify-content-center">
    {% for brand in brands %}
        <h6 class="ms-2">
            <a class="btn btn-warning m-1" 
            style="width: 150px; font-weight: 600;"
            href="{% url "filter_brand" brand.slug %}">{{ brand.name }}</a>
        </h6>
    {% endfor %}
    </div>
    <h3 class="text-center m-2 mt-5">Available Cars: {{cars | length}}</h3>
    <div class="d-flex flex-wrap justify-content-center m-2" >
        {% for car in cars %}
            <div class="col-md-4 col-sm-6 d-flex align-items-stretch">
              <div 
              style="background-color: #E7DE63;"
              class="card p-2 m-2 shadow w-100">
                <div class="card-body">
                  {% if car.image %}
                  <img class="w-100 pb-2" src="{{car.image.url}}" alt="{{car.name}}">
                  {% else %}
                  <p>No Image Found!</p>
                  {% endif %}
                  
                  <h4 class="card-title"> {{car.name}} </h4>
                  
                  <a href="{% url "details" car.id %}" class="btn btn-success my-2">Details</a>

                  <h6> Price: {{car.price}} TK </h6>
                </div>
              </div>
            </div>
        {% endfor %}
        </div>

{% endblock content %}