body{
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.nav-container{
    background-color: #f8f9face;
}

.intro{
    align-items: center;
    align-content: center;
    text-align: center;
    margin-top: 120px;
    
}

.title{
    font-size: 57px;
    font-weight: 600;
}